<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="http://concret.io">
      <img class="img" src="../assets/logo.png" />
    </a>
    <span class="example-spacer"></span>
    <mat-icon>bug_report</mat-icon>
    <span [routerLink]="['/home/my']">Debug</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">event</mat-icon>
    <span [routerLink]="['/home/events']">Events</span>
    <span class="example-spacer"></span>
    <span [routerLink]="['/home/discussion']">Discussion</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">open_in_new</mat-icon>
    <span>New Window</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">share</mat-icon>
    <span>gourav</span>
  </mat-toolbar-row>


</mat-toolbar>