<mat-toolbar color="primary" style="display: flex">
    <mat-toolbar-row style="display: flex">
      <span>Custom Toolbar</span>
      <mat-icon class="example-icon">verified_user</mat-icon>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" (click) ="go()">favorite</mat-icon>
    </mat-toolbar-row>
  
   
  </mat-toolbar>

  <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          First
        </ng-template>
        Content 1
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Second
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Third
        </ng-template>
    
        Content 3
      </mat-tab>
    </mat-tab-group>
    
  