table {
    width: 100%;
  }
  .ui-dialog .ui-dialog-content {
    overflow: visible;
  }

th.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
}
.ui-dialog.ui-widget .ui-dialog-content {
  /* padding: 3em 1.5em; */
  /* margin-top: 24px; */
  padding: 20px 20px 83px 23px;
}


  