

  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
         
        </mat-expansion-panel-header>
    
        <mat-checkbox (change) = "checkValue($event)">Check me!</mat-checkbox>

      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
