
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/omega/theme.css";

body{
    width: 100%;
    min-width: 800px;
}

.ui-dialog .ui-dialog-content
{
    overflow: visible;
}

th.mat-header-cell {
    font-size: 16px;
    font-weight: bold;
  }

  table {
    width: 100%;
    min-height: 300px;
  }
  